<h1>About Us</h1>
<p>
  <a href="http://ratemyboss.org/">Rate my Boss</a> is public website that allows employees to anonymously rate current and former managers and supervisors.  The driving force of this site is to provide employers with an honest, comprehensive evaluation of their managers, and is rooted in the fundamental principle that employees - rather than other managers - are uniquely qualified to reliably evaluate individuals in management and supervisory positions.
</p>
